.App {
  text-align: center;
  /* background-color: rgba(196, 196, 196); */
}

body {
  background-color: rgba(229, 234, 240, 1);
}

.App-logo {
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.RecipeGrid {
  margin-top: 2.5%;
  height: 575px;
  width: 100%;
  border: 1px solid rgba(97, 16, 16, 0.05);
  background-color: white;
  flex-direction: row;
}

.RecipeComponent {
  height: 600px;
}

.RecipeImage {
  margin-top: 15%;
  background-color: greenyellow;
  height: 75%;
  border-radius: 15px;
  vertical-align: bottom;
}
