.App {
  text-align: center;
  background-color: rgba(229, 234, 240, 1);
}

.App-logo {
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.generateButton {
  background-color: black;
}
  
.RecipeGrid {
  height: 675px;
  width: 100%;
  background-color: white;
  flex-direction: column;
  direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

.RecipeComponent {
  height: 70vh;
}

.RecipeComponentSmall {
  text-align: start;
  height: 15vh;
  /* align-items: flex-start; */
  direction: row;
  justify-content: center;
  margin-left: 5%;
}


.RecipeComponentSmallTextBox {
  justify-content: start;
  margin-top: 18%;
  margin-left: 10px;
  font-size: small;
}

.RecipeComponentSmallText {
  margin-top: 27%;
  margin-left: 10px;
  font-size: small;
  max-height: 20px;
}

.RecipeComponentSmallLogo{
  justify-content: center;
}



.RecipeImage {
  margin-top: 15%;
  height: 50%;
  border-radius: 15px;
  vertical-align: bottom;
  background-size: cover;
  background-position: center;
}

.RecipeImageSmall {
  border-radius: 5px;
  margin-top: 15%;
  height: 80%;
  vertical-align: bottom;
  background-size: cover;
  background-position: center;
}

.LockedElement {
  position: absolute;
  width: 20%;
}

.MuiOutlinedInput-notchedOutline {
  border: #61dafb;
}


/* .groceryListTop {
  position: fixed;
}

.groceryListMiddle {
  background-color: blanchedalmond;
} */

#låsOpskriftKnap {
  margin-top: 25%;
}

.groceryItem {
  display: flex;
  align-items: center;
}

/* TODO: MAKE THIS DRY SO THAT WE DON'T HAVE TWO GROCERYLISTS*/

  .GroceryList {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 63%;
    background-color: white;
    box-shadow: 24;
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    overflow-y: scroll;
  }

  .GroceryListSmall {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 80%;
    background-color: white;
    box-shadow: 24;
    border-radius: 15px;
    flex-direction: column;
    display: flex;
    overflow-y: scroll;
  }

